<a href="https://colab.research.google.com/github/ChristyAleaBadoy/58002-OOP/blob/main/Operations_and_Expressions_in_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Boolean Operators

In [4]:
print(10>9)
print(10<9)
print(10==9)

True
False
False

In [6]:
a=10
b=9
print(a>b)
print(a<b)
print(a==b)
print(b==b)

True
False
False
True

Boolean Function Bool()

In [14]:
print(bool(1))
print(bool(0))
print(bool("Ana"))
print(bool(None))
print(bool([]))

True
False
True
False
False

Functions can return a boolean

In [17]:
def myFunction():
  return False

print(myFunction())

False

In [19]:
def myFunction():
  return False
if myFunction():
  print("yes!")
else:
  print("no!")

no!

In [21]:
a=6
b=7
print(6<7)
print(a==b)
print(a!=b)

True
False
True

Python Operators

In [26]:
print(10+5)
print(10-5)
print(10*5)
print(10/5)
print(10//5)
print(10**5)
print(10%3)

15
5
50
2.0
2
100000
1
2.0

Bits Operation

In [32]:
a=60
b=13
a<<2
a>>2

15

Python Assignment operators

In [38]:
x=1
x+=3  # same as x = x+3
print(x)
x=1 
x-=3
print(x)

4
-2

Logical Operators

In [46]:
x = True
y = True

In [48]:
print(x and y)
print(x or y)
print(not(x or y))

True
True
False

Identity Operators

In [53]:
print(x is y)
print(x is not y)

True
False

Application 1 Create an arithmetic calculator (Mdas)